.topnav {
	overflow: hidden;
	background-color: rgb( 150, 150, 150 );
}

.topnav a{
	float: right;
    color: White;
	display: block;
    text-align: center;
    padding: 20px 16px;
	font-family: arial;
    text-decoration: none;
	margin: 0px;
}

.topnav a:hover {
    color: black;
}

#Self {
	border-radius: 150px;
	padding: 10px;
	width: 200px;
	display: block;
	margin-left: auto;
	margin-right: auto;
}

body {
	margin: 0px;
	background-color: white;
	background-image: url( "Images/WebsiteOverallBackground.jpg" );
	background-repeat: no-repeat;
	background-position: center top;
	background-size: cover;
}

#Introduction{
	background-image: url( "Images/BackgroundMeme.png" );
	background-repeat: no-repeat;
	background-position: top;
	background-size: 800px 750px;
	border: 5px solid white;
	width: 500px;
	margin-top: 20px;
	margin-left: auto;
	margin-right: auto;
	padding-bottom: 150px;
}

#Name {
	color: rgb( 255, 255, 255 );
	text-align: center;
	font-family: arial;
	font-size: 30px;
	margin: 0px;
}

#Descrip {
	color: rgb( 255, 255, 255 );
	text-align: center;
	font-family: arial;
	font-size: 20px;
	margin-top: 0px;
	margin-bottom: 10px;
}