.topnav {
	overflow: hidden;
	background-color: rgb(48, 109, 170);
}

.topnav a{
	float: right;
    color: white;
	display: block;
    text-align: center;
    padding: 20px 16px;
	font-family: arial;
    text-decoration: none;
	margin: 0px;
}

.topnav a:hover {
    color: black;
}

.column {
	float: left;
	width: 25%;
	padding-left: 50px;
}

.row:after {
	content: "";
	display: block;
	clear: both;
}

#Self {
	border-radius: 80px;
	padding: 10px;
	width: 300px;
	/*display: block;*/
	margin-top: 100px;
	/*margin-left: auto;*/
	margin-right: auto;
}

body {
	margin: 0px;
	background-color: white;
	background-image: url( "Images/background3.jpg" );
	background-repeat: no-repeat;
	background-position: center top;
	background-size: 103.25%;
	position: relative;
}

.footer {
	position: fixed;
	text-align: center;
	left: 0;
	bottom: 0;
	width: 100%;
	background-color: white;
}

#Introduction{
	border: 2px solid rgb( 48, 109, 170 );
	background-color: white;
	width: auto;
	margin-top: 100px;
	margin-left: auto;
	margin-right: auto;
	padding: 10px;
	padding-top: 5px;
}

#Name {
	color: rgb(48, 109, 170);
	text-align: center;
	font-family: arial;
	font-size: 30px;
	margin-bottom: 0px;
}

#Descrip {
	color: rgb(48, 109, 170);
	text-align: center;
	font-family: arial;
	font-size: 20px;
	margin-top: 0px;
	margin-bottom: 10px;
}

#Descrip2 {
	color: rgb(48, 109, 170);
	text-align: left;
	font-family: arial;
	font-size: 20px;
	margin-top: 0px;
	margin-bottom: 10px;
}

#Logos {
	width: 75px;
	margin-left: 20px;
	margin-right: auto;
	margin-bottom: auto;
}