<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Jay Froment-Rudder</title>
        <link rel="preconnect" href="https://fonts.gstatic.com">
        <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@100;400;700&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="style.css">
    </head>

    <body>
        <div class="container">
            <nav class="navbar">
                <div class="navbar-brand">
                    <a href="/" class="navbar-brand-link">
                        <img class="navbar-brand-image" src="images/JayFroment-Rudder-logos-2.jpeg" alt="JFR_logo">
                    </a>
                </div>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                    data-bs-target="#navbarSupportedContent">
                    <span class="navbar-toggler-icon"></span>
                </button>

                <div class="navbar-collapse" id="">
                    <div class="navbar-nav">
                        <div class="nav-item">
                            <a href="/" class="nav-link">Home</a>
                        </div>
                        <div class="nav-item">
                            <a href="" class="nav-link">About</a>
                        </div>
                        <div class="nav-item">
                            <a href="" class="nav-link">Work</a>
                        </div>
                        <div class="nav-item">
                            <a href="https://github.com/jfromentrudder" class="nav-link" target="_blank">Github</a>
                        </div>
                        <div class="nav-item">
                            <a href="" class="nav-link">Contact</a>
                        </div>
                    </div>
                </div>
            </nav>

            <div class="main-container">
                <div class="intro-area">
                    <div class="intro">
                        <h1 class="site-heading">
                            Hi! I'm Jay, Full Stack Software Engineer.
                        </h1>
                    </div>
                    <div class="my-photo">
                        <img src="images/profile_image.jpg" alt="A Photo of Me">
                    </div>
                </div>
            </div>
        </div>
    </body>

</html>
