<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Jay Froment-Rudder</title>
        <link rel="stylesheet" href="style.css">
        <link rel="preconnect" href="https://fonts.gstatic.com">
        <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@100;400;700&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="style.css">
    </head>

    <body>
        <div class="container">

            <!-- <div id="splash" class="d-flex justify-content-center align-items-center">

		</div> -->
            <header>
                <nav class="navbar">
                    <div class="container-fluid">
                        <a href="index.html" class="navbar-brand">Logo Here</a>
                        <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                            data-bs-target="#navbarSupportedContent">
                            <span class="navbar-toggler-icon"></span>
                        </button>

                        <div class="navbar-collapse" id="">
                            <div class="navbar-nav">
                                <a href="index.html" class="nav-item nav-link">Home</a>
                                <a href="index.html" class="nav-item nav-link">Github</a>
                                <a href="index.html" class="nav-item nav-link">About</a>
                                <a href="index.html" class="nav-item nav-link">Resume</a>
                                <a href="index.html" class="nav-item nav-link">Contact</a>
                            </div>
                        </div>
                    </div>
                </nav>
            </header>
            <main>
                <div class="">
                    <img src="Images/profile_image.jpg" class="img-fluid rounded-3 mx-auto" alt="Portrait"
                        id="portrait">
                </div>
            </main>
        </div>

        <script src="app.js"></script>
    </body>

</html>
