body {
	font-family: 'Roboto', sans-serif;
	background-color: #343433;
	margin: 0;
}

.container {
	display: grid;
}

.navbar {
	width: 12vw;
	height: 100%;
	color: white;
	position: fixed;
	box-shadow: 10px 10px 15px rgba(0, 0, 0, 0.15);
}

.navbar .navbar-toggler-icon {
	height: 1em;
}

.nav-item {
	border-bottom: 1px solid #4e4e4f;
	padding: 20px 30px 20px 20px;
}

.nav-item:hover {
	box-shadow: inset 0 5px 5px rgba(0, 0, 0, 0.4);
	background-color: #494947;
	cursor: pointer;
}

.nav-item .nav-link {
	color: white;
	text-decoration: none;
}

.site-heading {
	color: #EEF0F2;
}

.main-container {
	padding: 20px 20px 20px 30px;
	margin: auto;
}

.main-container .my-photo img {
	width: 30%;
	border-radius: 10px;
}

.intro-area {
	display: grid;
	grid: auto-flow / 1fr 1fr;
}

@media (max-width: 700px) {
	.navbar-toggler {
		display: inline-block;
	}
	.navbar-brand img {
		display: none;
	}
}

@media (min-width: 700px) {
	.navbar-toggler {
		display: none;
	}
	.navbar-brand img {
		display: block;
		width: 12vw;
	}
}